body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
    margin-top: 50px;
}

.login-box {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

input {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
}
